In [1]:
#!kaggle datasets download -d wendykan/lending-club-loan-data

In [2]:
import pandas as pd
import numpy as np

In [3]:
loan_data = pd.read_csv("loan.csv")

C:\Users\benja\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
loan_data.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
column_names = loan_data.columns

In [ ]:
column_names[""]

In [6]:
loan_data.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 145, dtype: object

In [7]:
for i in column_names:
    print("{} is unique: {}".format(i, loan_data[i].is_unique))

id is unique: False
member_id is unique: False
loan_amnt is unique: False
funded_amnt is unique: False
funded_amnt_inv is unique: False
term is unique: False
int_rate is unique: False
installment is unique: False
grade is unique: False
sub_grade is unique: False
emp_title is unique: False
emp_length is unique: False
home_ownership is unique: False
annual_inc is unique: False
verification_status is unique: False
issue_d is unique: False
loan_status is unique: False
pymnt_plan is unique: False
url is unique: False
desc is unique: False
purpose is unique: False
title is unique: False
zip_code is unique: False
addr_state is unique: False
dti is unique: False
delinq_2yrs is unique: False
earliest_cr_line is unique: False
inq_last_6mths is unique: False
mths_since_last_delinq is unique: False
mths_since_last_record is unique: False
open_acc is unique: False
pub_rec is unique: False
revol_bal is unique: False
revol_util is unique: False
total_acc is unique: False
initial_list_status is unique: False
out_prncp is unique: False
out_prncp_inv is unique: False
total_pymnt is unique: False
total_pymnt_inv is unique: False
total_rec_prncp is unique: False
total_rec_int is unique: False
total_rec_late_fee is unique: False
recoveries is unique: False
collection_recovery_fee is unique: False
last_pymnt_d is unique: False
last_pymnt_amnt is unique: False
next_pymnt_d is unique: False
last_credit_pull_d is unique: False
collections_12_mths_ex_med is unique: False
mths_since_last_major_derog is unique: False
policy_code is unique: False
application_type is unique: False
annual_inc_joint is unique: False
dti_joint is unique: False
verification_status_joint is unique: False
acc_now_delinq is unique: False
tot_coll_amt is unique: False
tot_cur_bal is unique: False
open_acc_6m is unique: False
open_act_il is unique: False
open_il_12m is unique: False
open_il_24m is unique: False
mths_since_rcnt_il is unique: False
total_bal_il is unique: False
il_util is unique: False
open_rv_12m is unique: False
open_rv_24m is unique: False
max_bal_bc is unique: False
all_util is unique: False
total_rev_hi_lim is unique: False
inq_fi is unique: False
total_cu_tl is unique: False
inq_last_12m is unique: False
acc_open_past_24mths is unique: False
avg_cur_bal is unique: False
bc_open_to_buy is unique: False
bc_util is unique: False
chargeoff_within_12_mths is unique: False
delinq_amnt is unique: False
mo_sin_old_il_acct is unique: False
mo_sin_old_rev_tl_op is unique: False
mo_sin_rcnt_rev_tl_op is unique: False
mo_sin_rcnt_tl is unique: False
mort_acc is unique: False
mths_since_recent_bc is unique: False
mths_since_recent_bc_dlq is unique: False
mths_since_recent_inq is unique: False
mths_since_recent_revol_delinq is unique: False
num_accts_ever_120_pd is unique: False
num_actv_bc_tl is unique: False
num_actv_rev_tl is unique: False
num_bc_sats is unique: False
num_bc_tl is unique: False
num_il_tl is unique: False
num_op_rev_tl is unique: False
num_rev_accts is unique: False
num_rev_tl_bal_gt_0 is unique: False
num_sats is unique: False
num_tl_120dpd_2m is unique: False
num_tl_30dpd is unique: False
num_tl_90g_dpd_24m is unique: False
num_tl_op_past_12m is unique: False
pct_tl_nvr_dlq is unique: False
percent_bc_gt_75 is unique: False
pub_rec_bankruptcies is unique: False
tax_liens is unique: False
tot_hi_cred_lim is unique: False
total_bal_ex_mort is unique: False
total_bc_limit is unique: False
total_il_high_credit_limit is unique: False
revol_bal_joint is unique: False
sec_app_earliest_cr_line is unique: False
sec_app_inq_last_6mths is unique: False
sec_app_mort_acc is unique: False
sec_app_open_acc is unique: False
sec_app_revol_util is unique: False
sec_app_open_act_il is unique: False
sec_app_num_rev_accts is unique: False
sec_app_chargeoff_within_12_mths is unique: False
sec_app_collections_12_mths_ex_med is unique: False
sec_app_mths_since_last_major_derog is unique: False
hardship_flag is unique: False
hardship_type is unique: False
hardship_reason is unique: False
hardship_status is unique: False
deferral_term is unique: False
hardship_amount is unique: False
hardship_start_date is unique: False
hardship_end_date is unique: False
payment_plan_start_date is unique: False
hardship_length is unique: False
hardship_dpd is unique: False
hardship_loan_status is unique: False
orig_projected_additional_accrued_interest is unique: False
hardship_payoff_balance_amount is unique: False
hardship_last_payment_amount is unique: False
disbursement_method is unique: False
debt_settlement_flag is unique: False
debt_settlement_flag_date is unique: False
settlement_status is unique: False
settlement_date is unique: False
settlement_amount is unique: False
settlement_percentage is unique: False
settlement_term is unique: False

In [8]:
missing_data_NaN = loan_data.isnull().sum().sum()
print("The number of missing NaN types in the dataframe are", missing_data_NaN)

# 108,666,955 missing NaN types

The number of missing NaN types in the dataframe are 108666955

In [9]:
# Lets us look at percent missing by column
percent_miss = loan_data.isnull().sum()/ len(loan_data)

df2 = pd.DataFrame(percent_miss)
df2 = df2.rename(columns={0: "Percent of missing values"})


df1 = pd.DataFrame(loan_data.isnull().sum())
df1 = df1.rename(columns={0: "Number of missing values"})

df = pd.concat([df1, df2], axis=1, sort=False)

sorted_df = df.sort_values(by =["Number of missing values"],ascending = False)
sorted_df.head(10)

,Number of missing values,Percent of missing values
id,2260668,1.000000
url,2260668,1.000000
member_id,2260668,1.000000
orig_projected_additional_accrued_interest,2252242,0.996273
hardship_length,2250055,0.995305
hardship_reason,2250055,0.995305
hardship_status,2250055,0.995305
deferral_term,2250055,0.995305
hardship_amount,2250055,0.995305
hardship_start_date,2250055,0.995305

In [10]:
# WOrking with sqllite database
# !pip install ipython-sql

In [11]:
%load_ext sql

In [12]:
# Connect to the sql database
%sql sqlite:///data/database.sqlite

'Connected: @data/database.sqlite'

In [13]:
# shows you how many tables are in the database
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///data/database.sqlite
Done.

[('loan',)]

In [14]:
# Get the columns in the table
%sql select * from loan LIMIT 0

 * sqlite:///data/database.sqlite
Done.

[]

In [15]:
%sql SELECT * FROM loan LIMIT 10

 * sqlite:///data/database.sqlite
Done.

[('', '', '2500', '2500', '2500', ' 36 months', '13.56', '84.92', 'C', 'C1', 'Chef', '10+ years', 'RENT', '55000', 'Not Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '109xx', 'NY', '18.24', '0', 'Apr-2001', '1', '', '45', '9', '1', '4341', '10.3', '34', 'w', '2386.02', '2386.02', '167.02', '167.02', '113.98', '53.04', '0.0', '0.0', '0.0', 'Feb-2019', '84.92', 'Mar-2019', 'Feb-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '16901', '2', '2', '1', '2', '2', '12560', '69', '2', '7', '2137', '28', '42000', '1', '11', '2', '9', '1878', '34360', '5.9', '0', '0', '140', '212', '1', '1', '0', '1', '', '2', '', '0', '2', '5', '3', '3', '16', '7', '18', '5', '9', '0', '0', '0', '3', '100', '0', '1', '0', '60124', '16901', '36500', '18124', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Cash', 'N', '', '', '', '', '', ''),
 ('', '', '30000', '30000', '30000', ' 60 months', '18.94', '777.23', 'D', 'D2', 'Postmaster ', '10+ years', 'MORTGAGE', '90000', 'Source Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '713xx', 'LA', '26.52', '0', 'Jun-1987', '0', '71', '75', '13', '1', '12315', '24.2', '44', 'w', '29387.75', '29387.75', '1507.11', '1507.11', '612.25', '894.86', '0.0', '0.0', '0.0', 'Feb-2019', '777.23', 'Mar-2019', 'Feb-2019', '0', '', '1', 'Individual', '', '', '', '0', '1208', '321915', '4', '4', '2', '3', '3', '87153', '88', '4', '5', '998', '57', '50800', '2', '15', '2', '10', '24763', '13761', '8.3', '0', '0', '163', '378', '4', '3', '3', '4', '', '4', '', '0', '2', '4', '4', '9', '27', '8', '14', '4', '13', '0', '0', '0', '6', '95', '0', '1', '0', '372872', '99468', '15000', '94072', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Cash', 'N', '', '', '', '', '', ''),
 ('', '', '5000', '5000', '5000', ' 36 months', '17.97', '180.69', 'D', 'D1', 'Administrative', '6 years', 'MORTGAGE', '59280', 'Source Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '490xx', 'MI', '10.51', '0', 'Apr-2011', '0', '', '', '8', '0', '4599', '19.1', '13', 'w', '4787.21', '4787.21', '353.89', '353.89', '212.79', '141.10', '0.0', '0.0', '0.0', 'Feb-2019', '180.69', 'Mar-2019', 'Feb-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '110299', '0', '1', '0', '2', '14', '7150', '72', '0', '2', '0', '35', '24100', '1', '5', '0', '4', '18383', '13800', '0', '0', '0', '87', '92', '15', '14', '2', '77', '', '14', '', '0', '0', '3', '3', '3', '4', '6', '7', '3', '8', '0', '0', '0', '0', '100', '0', '0', '0', '136927', '11749', '13800', '10000', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Cash', 'N', '', '', '', '', '', ''),
 ('', '', '4000', '4000', '4000', ' 36 months', '18.94', '146.51', 'D', 'D2', 'IT Supervisor', '10+ years', 'MORTGAGE', '92000', 'Source Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '985xx', 'WA', '16.74', '0', 'Feb-2006', '0', '', '', '10', '0', '5468', '78.1', '13', 'w', '3831.93', '3831.93', '286.71', '286.71', '168.07', '118.64', '0.0', '0.0', '0.0', 'Feb-2019', '146.51', 'Mar-2019', 'Feb-2019', '0', '', '1', 'Individual', '', '', '', '0', '686', '305049', '1', '5', '3', '5', '5', '30683', '68', '0', '0', '3761', '70', '7000', '2', '4', '3', '5', '30505', '1239', '75.2', '0', '0', '62', '154', '64', '5', '3', '64', '', '5', '', '0', '1', '2', '1', '2', '7', '2', '3', '2', '10', '0', '0', '0', '3', '100', '100', '0', '0', '385183', '36151', '5000', '44984', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Cash', 'N', '', '', '', '', '', ''),
 ('', '', '30000', '30000', '30000', ' 60 months', '16.14', '731.78', 'C', 'C4', 'Mechanic', '10+ years', 'MORTGAGE', '57250', 'Not Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '212xx', 'MD', '26.35', '0', 'Dec-2000', '0', '', '', '12', '0', '829', '3.6', '26', 'w', '29339.02', '29339.02', '1423.21', '1423.21', '660.98', '762.23', '0.0', '0.0', '0.0', 'Feb-2019', '731.78', 'Mar-2019', 'Feb-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '116007', '3', '5', '3', '5', '4', '28845', '89', '2', '4', '516', '54', '23100', '1', '0', '0', '9', '9667', '8471', '8.9', '0', '0', '53', '216', '2', '2', '2', '2', '', '13', '', '0', '2', '2', '3', '8', '9', '6', '15', '2', '12', '0', '0', '0', '5', '92.3', '0', '0', '0', '157548', '29674', '9300', '32332', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Cash', 'N', '', '', '', '', '', ''),
 ('', '', '5550', '5550', '5550', ' 36 months', '15.02', '192.45', 'C', 'C3', 'Director COE', '10+ years', 'MORTGAGE', '152500', 'Not Verified', 'Dec-2018', 'Current', 'n', '', '', 'credit_card', 'Credit card refinancing', '461xx', 'IN', '37.94', '0', 'Sep-2002', '3', '', '', '18', '0', '53854', '48.1', '44', 'w', '5302.50', '5302.50', '377.95', '377.95', '247.50', '130.45', '0.0', '0.0', '0.0', 'Feb-2019', '192.45', 'Mar-2019', 'Feb-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '685749', '1', '7', '2', '3', '4', '131524', '72', '1', '4', '17584', '58', '111900', '2', '4', '6', '8', '40338', '23746', '64', '0', '0', '195', '176', '10', '4', '6', '20', '', '3', '', '0', '4', '6', '6', '10', '23', '9', '15', '7', '18', '0', '0', '0', '4', '100', '60', '0', '0', '831687', '185378', '65900', '203159', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Cash', 'N', '', '', '', '', '', ''),
 ('', '', '2000', '2000', '2000', ' 36 months', '17.97', '72.28', 'D', 'D1', 'Account Manager', '4 years', 'RENT', '51000', 'Source Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '606xx', 'IL', '2.4', '0', 'Nov-2004', '1', '', '', '1', '0', '0', '', '9', 'w', '1914.71', '1914.71', '141.56', '141.56', '85.29', '56.27', '0.0', '0.0', '0.0', 'Feb-2019', '72.28', 'Mar-2019', 'Feb-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '854', '0', '0', '2', '3', '7', '0', '', '0', '1', '0', '100', '0', '0', '0', '1', '4', '854', '', '', '0', '0', '169', '40', '23', '7', '0', '', '', '1', '', '0', '0', '0', '0', '3', '5', '0', '3', '0', '1', '0', '0', '0', '2', '100', '', '0', '0', '854', '854', '0', '0', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Cash', 'N', '', '', '', '', '', ''),
 ('', '', '6000', '6000', '6000', ' 36 months', '13.56', '203.79', 'C', 'C1', 'Assistant Director', '10+ years', 'RENT', '65000', 'Source Verified', 'Dec-2018', 'Current', 'n', '', '', 'credit_card', 'Credit card refinancing', '460xx', 'IN', '30.1', '0', 'Nov-1997', '0', '', '', '19', '0', '38476', '69.3', '37', 'w', '5864.01', '5864.01', '201.53', '201.53', '135.99', '65.54', '0.0', '0.0', '0.0', 'Feb-2019', '208.31', 'Mar-2019', 'Feb-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '91535', '0', '5', '0', '1', '23', '53059', '87', '0', '2', '9413', '74', '55500', '1', '2', '0', '3', '5085', '3034', '90.8', '0', '0', '169', '253', '13', '13', '1', '14', '', '13', '', '0', '7', '12', '8', '10', '15', '14', '20', '12', '19', '0', '0', '0', '0', '100', '85.7', '0', '0', '117242', '91535', '33100', '61742', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'DirectPay', 'N', '', '', '', '', '', ''),
 ('', '', '5000', '5000', '5000', ' 36 months', '17.97', '180.69', 'D', 'D1', 'Legal Assistant III', '10+ years', 'MORTGAGE', '53580', 'Source Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '327xx', 'FL', '21.16', '0', 'Aug-1998', '1', '32', '', '8', '0', '8018', '35.2', '38', 'w', '4786.79', '4786.79', '353.89', '353.89', '213.21', '140.68', '0.0', '0.0', '0.0', 'Feb-2019', '180.69', 'Mar-2019', 'Feb-2019', '0', '45', '1', 'Individual', '', '', '', '0', '0', '41882', '5', '2', '5', '5', '3', '33864', '98', '1', '6', '3132', '73', '22800', '2', '1', '4', '12', '5235', '13786', '35.9', '0', '0', '145', '244', '6', '3', '3', '6', '33', '2', '32', '2', '4', '5', '5', '10', '20', '6', '15', '5', '8', '0', '0', '0', '6', '78.9', '60', '0', '0', '57426', '41882', '21500', '34626', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Cash', 'N', '', '', '', '', '', ''),
 ('', '', '6000', '6000', '6000', ' 36 months', '14.47', '206.44', 'C', 'C2', '', '< 1 year', 'OWN', '300000', 'Not Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '068xx', 'CT', '17.43', '1', 'Apr-2002', '1', '17', '', '38', '0', '65950', '49.8', '58', 'w', '5730.20', '5730.20', '405.64', '405.64', '269.80', '135.84', '0.0', '0.0', '0.0', 'Feb-2019', '206.44', 'Mar-2019', 'Feb-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '349502', '1', '4', '1', '3', '7', '39961', '45', '1', '12', '15926', '48', '132500', '2', '2', '2', '15', '9197', '38683', '60.6', '0', '0', '166', '200', '4', '4', '1', '4', '', '4', '17', '0', '16', '20', '19', '26', '9', '33', '48', '20', '38', '0', '0', '0', '2', '100', '26.3', '0', '0', '477390', '105911', '98300', '89600', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Cash', 'N', '', '', '', '', '', '')]

In [16]:
%sql SELECT COUNT(*) as num_rows FROM loan

 * sqlite:///data/database.sqlite
Done.

[(2260668,)]

#### Lets work with pandas dataframes

In [23]:
# Saves query into a variable 
sqlres = %sql SELECT * FROM loan

 * sqlite:///data/database.sqlite
Done.

In [24]:
# Retrieve datarframe from query results
sql_loan_data = sqlres.DataFrame()  # this process can take about 3-5 minutes
sql_loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,,,2500,2500,2500,36 months,13.56,84.92,C,C1,...,,,Cash,N,,,,,,
1,,,30000,30000,30000,60 months,18.94,777.23,D,D2,...,,,Cash,N,,,,,,
2,,,5000,5000,5000,36 months,17.97,180.69,D,D1,...,,,Cash,N,,,,,,
3,,,4000,4000,4000,36 months,18.94,146.51,D,D2,...,,,Cash,N,,,,,,
4,,,30000,30000,30000,60 months,16.14,731.78,C,C4,...,,,Cash,N,,,,,,

In [25]:
# Investigate the loan data from sql lite database
sql_column_names = sql_loan_data.columns

In [26]:
sql_loan_data.dtypes

id                       object
member_id                object
loan_amnt                object
funded_amnt              object
funded_amnt_inv          object
                          ...
settlement_status        object
settlement_date          object
settlement_amount        object
settlement_percentage    object
settlement_term          object
Length: 145, dtype: object

In [27]:
for i in sql_column_names:
    print("{} is unique: {}".format(i, sql_loan_data[i].is_unique))

id is unique: False
member_id is unique: False
loan_amnt is unique: False
funded_amnt is unique: False
funded_amnt_inv is unique: False
term is unique: False
int_rate is unique: False
installment is unique: False
grade is unique: False
sub_grade is unique: False
emp_title is unique: False
emp_length is unique: False
home_ownership is unique: False
annual_inc is unique: False
verification_status is unique: False
issue_d is unique: False
loan_status is unique: False
pymnt_plan is unique: False
url is unique: False
desc is unique: False
purpose is unique: False
title is unique: False
zip_code is unique: False
addr_state is unique: False
dti is unique: False
delinq_2yrs is unique: False
earliest_cr_line is unique: False
inq_last_6mths is unique: False
mths_since_last_delinq is unique: False
mths_since_last_record is unique: False
open_acc is unique: False
pub_rec is unique: False
revol_bal is unique: False
revol_util is unique: False
total_acc is unique: False
initial_list_status is unique: False
out_prncp is unique: False
out_prncp_inv is unique: False
total_pymnt is unique: False
total_pymnt_inv is unique: False
total_rec_prncp is unique: False
total_rec_int is unique: False
total_rec_late_fee is unique: False
recoveries is unique: False
collection_recovery_fee is unique: False
last_pymnt_d is unique: False
last_pymnt_amnt is unique: False
next_pymnt_d is unique: False
last_credit_pull_d is unique: False
collections_12_mths_ex_med is unique: False
mths_since_last_major_derog is unique: False
policy_code is unique: False
application_type is unique: False
annual_inc_joint is unique: False
dti_joint is unique: False
verification_status_joint is unique: False
acc_now_delinq is unique: False
tot_coll_amt is unique: False
tot_cur_bal is unique: False
open_acc_6m is unique: False
open_act_il is unique: False
open_il_12m is unique: False
open_il_24m is unique: False
mths_since_rcnt_il is unique: False
total_bal_il is unique: False
il_util is unique: False
open_rv_12m is unique: False
open_rv_24m is unique: False
max_bal_bc is unique: False
all_util is unique: False
total_rev_hi_lim is unique: False
inq_fi is unique: False
total_cu_tl is unique: False
inq_last_12m is unique: False
acc_open_past_24mths is unique: False
avg_cur_bal is unique: False
bc_open_to_buy is unique: False
bc_util is unique: False
chargeoff_within_12_mths is unique: False
delinq_amnt is unique: False
mo_sin_old_il_acct is unique: False
mo_sin_old_rev_tl_op is unique: False
mo_sin_rcnt_rev_tl_op is unique: False
mo_sin_rcnt_tl is unique: False
mort_acc is unique: False
mths_since_recent_bc is unique: False
mths_since_recent_bc_dlq is unique: False
mths_since_recent_inq is unique: False
mths_since_recent_revol_delinq is unique: False
num_accts_ever_120_pd is unique: False
num_actv_bc_tl is unique: False
num_actv_rev_tl is unique: False
num_bc_sats is unique: False
num_bc_tl is unique: False
num_il_tl is unique: False
num_op_rev_tl is unique: False
num_rev_accts is unique: False
num_rev_tl_bal_gt_0 is unique: False
num_sats is unique: False
num_tl_120dpd_2m is unique: False
num_tl_30dpd is unique: False
num_tl_90g_dpd_24m is unique: False
num_tl_op_past_12m is unique: False
pct_tl_nvr_dlq is unique: False
percent_bc_gt_75 is unique: False
pub_rec_bankruptcies is unique: False
tax_liens is unique: False
tot_hi_cred_lim is unique: False
total_bal_ex_mort is unique: False
total_bc_limit is unique: False
total_il_high_credit_limit is unique: False
revol_bal_joint is unique: False
sec_app_earliest_cr_line is unique: False
sec_app_inq_last_6mths is unique: False
sec_app_mort_acc is unique: False
sec_app_open_acc is unique: False
sec_app_revol_util is unique: False
sec_app_open_act_il is unique: False
sec_app_num_rev_accts is unique: False
sec_app_chargeoff_within_12_mths is unique: False
sec_app_collections_12_mths_ex_med is unique: False
sec_app_mths_since_last_major_derog is unique: False
hardship_flag is unique: False
hardship_type is unique: False
hardship_reason is unique: False
hardship_status is unique: False
deferral_term is unique: False
hardship_amount is unique: False
hardship_start_date is unique: False
hardship_end_date is unique: False
payment_plan_start_date is unique: False
hardship_length is unique: False
hardship_dpd is unique: False
hardship_loan_status is unique: False
orig_projected_additional_accrued_interest is unique: False
hardship_payoff_balance_amount is unique: False
hardship_last_payment_amount is unique: False
disbursement_method is unique: False
debt_settlement_flag is unique: False
debt_settlement_flag_date is unique: False
settlement_status is unique: False
settlement_date is unique: False
settlement_amount is unique: False
settlement_percentage is unique: False
settlement_term is unique: False

In [28]:
sql_missing_data_NaN = sql_loan_data.isnull().sum().sum()
print("The number of missing NaN types in the dataframe are", sql_missing_data_NaN)

# ______ missing NaN types

The number of missing NaN types in the dataframe are 0

In [29]:
# Lets us look at percent missing by column
sql_percent_miss = sql_loan_data.isnull().sum()/ len(sql_loan_data)

sql_df2 = pd.DataFrame(sql_percent_miss)
sql_df2 = sql_df2.rename(columns={0: "Percent of missing values"})


sql_df1 = pd.DataFrame(sql_loan_data.isnull().sum())
sql_df1 = sql_df1.rename(columns={0: "Number of missing values"})

sql_df = pd.concat([sql_df1, sql_df2], axis=1, sort=False)

sql_sorted_df = sql_df.sort_values(by =["Number of missing values"],ascending = False)
sql_sorted_df.head(20)

                      Number of missing values  Percent of missing values
id                                           0                        0.0
inq_last_12m                                 0                        0.0
num_bc_tl                                    0                        0.0
num_il_tl                                    0                        0.0
num_op_rev_tl                                0                        0.0
num_rev_accts                                0                        0.0
num_rev_tl_bal_gt_0                          0                        0.0
num_sats                                     0                        0.0
num_tl_120dpd_2m                             0                        0.0
num_tl_30dpd                                 0                        0.0
num_tl_90g_dpd_24m                           0                        0.0
num_tl_op_past_12m                           0                        0.0
pct_tl_nvr_dlq                               0                        0.0
percent_bc_gt_75                             0                        0.0
pub_rec_bankruptcies                         0                        0.0
tax_liens                                    0                        0.0
tot_hi_cred_lim                              0                        0.0
num_bc_sats                                  0                        0.0
num_actv_rev_tl                              0                        0.0
num_actv_bc_tl                               0                        0.0

In [32]:
sql_loan_data[["tax_liens"]].head()

  tax_liens
0         0
1         0
2         0
3         0
4         0